html,
body {
  padding: 0;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: black;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
